.share {
	width: auto;
	height: auto;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
	box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
}

.priceInput {
	background-color: #eaf1f1;
	border-radius: 10px;
	padding-left: 10px;
	border-color: #666;
}
.descriptionInput {
	background-color: #eaf1f1;
	border-radius: 10px;
	padding-left: 10px;
	border-color: #666;
}
.nftDescription {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
.shareWrapper {
	padding: 10px;
}
.shareHr {
	background-color: red;
}
.shareTop {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.shareProfileImg {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
	margin: 10px;
}
.emoji {
	height: auto;
	width: auto;
	margin: 3px;
	background-color: #666;
	padding: 1px;
	border-color: #2b2323;
	border-radius: 5px;
}
.buttonWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.shareInput {
	background-color: #eaf1f1;
	border-radius: 10px;
	padding-left: 10px;
	border-color: #666;
	border: none;
	width: 20%;
}
.editWrapper {
	display: flex;
	overflow-x: scroll;
}
.shareInput:focus {
	outline: none;
}

.shareHr {
	margin: 20px;
	margin-top: 0;
}

.shareBottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.shareOptions {
	display: flex;
	margin-left: 20px;
}

.shareOption {
	display: flex;
	align-items: center;
	margin-right: 15px;
	cursor: pointer;
}

.shareIcon {
	font-size: 18px;
	margin-right: 3px;
}

.shareOptionText {
	font-size: 14px;
	font-weight: 500;
}

.shareButton {
	border: none;
	padding: 7px;
	border-radius: 5px;
	background-color: green;
	font-weight: 500;
	margin-right: 20px;
	cursor: pointer;
	color: white;
}

.emojiOptions {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.editButtons {
	border: none;
	padding: 7px;
	border-radius: 5px;
	background-color: #313636;
	font-weight: 500;
	margin-right: 20px;
	cursor: pointer;
	color: rgb(255, 255, 255);
}

.addTextButton {
	border: none;
	padding-top: 0;
	padding-bottom: 0;
	padding: 7px;
	border-radius: 5px;
	background-color: #313636;
	font-weight: 500;
	margin-right: 20px;
	cursor: pointer;
	color: rgb(255, 255, 255);
}
