.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: #1a1a1a; /* Dark background color */
	color: #ffffff; /* Text color */

	top: 0px;
	position: sticky;
}

.logo a {
	font-size: 1.5rem;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff; /* Logo text color */
	border-radius: 100%;
}

.searchIcon {
	color: black !important;
	padding: 2px;
}

.searchbar {
	background-color: white;
	width: 60%;
	height: 30px;
	display: flex;
	align-items: center;
	border-radius: 5px;
}
.logoImage {
	height: 50px;
	width: 60px;
	margin-right: 0px;
}
.searchbarInput {
	width: 75%;
	outline: none;
	border: none;
}
.searchbarInput:focus {
	outline: none;
}

.links {
	margin-left: 1.5rem;
	flex-direction: row;
	text-decoration: none;
	color: #fcfcfc; /* Link text color */
	border-radius: 10px;
	background-color: rgba(81, 83, 83, 0.432);
	padding: 5px;
}

.navlinks {
	display: flex;
}

/* Add any additional styles based on your design preferences */
.connectButton {
	margin-left: 1.5rem;
	flex-direction: row;
	text-decoration: none;
	color: #fcfcfc; /* Link text color */
	border-radius: 10px;
	background-color: rgba(127, 255, 212, 0.432);
	padding: 5px;
}
